# Thanks to Zylann for the idea!

# Exclude all top-level files and directories (except addons) from zip downloads.
# This makes installing through the AssetLib easier, because no files and folders
# need to be unchecked.

*               export-ignore
!addons/decals/ export-ignore
